.Navbar{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-content: center;
    justify-content: space-around;
    padding-bottom: 2vh;
}
.logo{
    font-family: 'Fredoka', sans-serif;
    font-size: 5vh;
    /* padding-left: 10px; */
    grid-column: 2/3;
}
.logo > a{
    text-decoration: none;
    color: black;
}
.login-info{
    text-align: end;
}
.login-info > a{
    text-decoration: none;
    color: black;
}
.top-section{
    width: 100%;
    height: 10vh;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 6rem 1fr 1fr 6rem;
    -ms-grid-columns: 6rem 1fr 1fr 6rem;
    align-items: center;
}
.bottom-section{
    margin: 0rem 6rem 0rem 6rem;
    display: flex;
    justify-content: center;
}
.nav-links{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.nav-links a{
    text-decoration: none;
    color: black;
}
.nav-link{
    width: 100%;
    justify-self: flex-start;
    border-right: 1px solid rgb(95, 95, 95);
}
.nav-link:not(:first-child){
    padding-left: 10px;
}


.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-size: 16px;
    width: 20%;
    border-style: hidden hidden solid hidden;
    border-bottom: solid 2px #ffffff;
}
.search-input:hover{
    width: 80%;
    border-style: hidden hidden solid hidden;
    border-bottom: solid 2px #203864;
    transition: all 0.5s ease;
}
.search-input:focus{
    width: 80%;
    border-style: hidden hidden solid hidden;
    border-bottom: solid 2px #203864;
}
.search-input:focus-visible{
    outline: none;
    width: 80%;
    border-style: hidden hidden solid hidden;
    border-bottom: solid 2px #203864;
}
.search-button{
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0);
    border: hidden;
    font-size: 16px;
    font-weight: 500;
    color: rgb(53, 53, 53);
}
.search-button:hover{
    color: #8ca3cc;
    transition: all 0.5s ease-in;
}


.burger div {
    background-color: rgb(63, 63, 63);
    width: 25px;
    height: 3px;
    margin: 3px 5px 3px 5px;
    border-radius: 2px;
    transition: all 0.4s ease;
}
.burger {
    display: none;
}



@media screen and (max-width: 1110px) {
    .top-section{
        grid-template-columns: 10vw 1fr 1fr 10vw;
        -ms-grid-columns: 10vw 1fr 1fr 10vw;
    }
    .logo{
        padding-left: 0px;
    }
    .bottom-section{
        display: none;
        transition: 0.5s ease-in-out all;
    }
    .login-info{
        display: none;
    }
    .burger {
        display: flex;
        flex-direction: column;
        z-index: 50;
        align-items: flex-end;
    }
    .burger-active{
        display: flex;
        flex-direction: column;
        z-index: 50;
        align-items: flex-end;
        position: relative;
    }
    .burger-active div:nth-child(1){
        background-color: rgb(63, 63, 63);
        width: 25px;
        height: 3px;
        margin: 3px 5px 3px 5px;
        border-radius: 2px;
        transform: rotate(45deg);
        position: absolute;
        top: 10%;
        transition: all 0.4s ease;
    }
    .burger-active div:nth-child(2){
        background-color: rgb(63, 63, 63);
        width: 0px;
        height: 3px;
        margin: 3px 5px 3px 5px;
        border-radius: 2px;
        transition: all 0.4s ease;
    }
    .burger-active div:nth-child(3){
        background-color: rgb(63, 63, 63);
        width: 25px;
        height: 3px;
        margin: 3px 5px 3px 5px;
        border-radius: 2px;
        transform: rotate(-45deg);
        position: absolute;
        top: -10%;
        transition: all 0.4s ease;
    }
    
    .bottom-section-active{
        height: 90vh;
        width: 100vw;
        position: absolute;
        top: 10vh;
        background-color: white;
        z-index: 5;
    }
    .bottom-section-active ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        padding-top: 10vh;
        padding-bottom: 30vh;
        padding-right: 3rem;
        transition: 0.5s ease-in-out all;
        animation: ul-translate 0.5s ease-in-out;
    }
    .bottom-section-active li{
        text-align: right;
        border: none;
    }
}

@keyframes ul-translate {
    from {
        padding-top: 0vh;
        padding-bottom: 0vh;
    }
    to {
        padding-top: 10vh;
        padding-bottom: 30vh;
    }
}
